#archery-banner
{
    display: flex;
    background-color: whitesmoke;
    vertical-align: top;
    position: fixed;
    top: 0px !important;
    width: 100%;
    z-index:1;
    height: 10%;
    padding-left: 1.5%;
    align-items: center;
}

#archery-banner-words
{
    font-family: "Kode Mono", monospace;
    color: #10255C;
}

#history-title
{
    margin-top: 6%;
    margin-left: 5%;
    color: #10255C;
    font-family: "Kode Mono", serif;
    font-size: 300%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-button
{
    background: whitesmoke;
    border-width: 0px !important;
}

td
{
    padding: 1%;
}

table, th, td
{
    border: 1px solid black;
    border-color:#38B3DD;
    border-collapse: collapse;
}

table
{
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    text-align: center;
    background-color: #10255C;
    color:white;
    font-family: "Montserrat", serif;
}

th{
    background-color: white;
    border-color: white;
    color:black;
    font-size: 120%;
    padding: 1%;
}