
@layer{

    #round-side-rect
    {
        position: fixed;
        width: 14%; /*14, 86 = 43 + 43*/
        top: 0;
        height: 100vh;
        background: white;
        /* z-index: 3 !important; */
    }

    #round-text
    {
        color: #10255C;
        font-family: "Kode Mono", serif;
        font-size: 90px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 15px;
        
        transform: rotate(270deg); /*based on the (0,0) ref point*/
        
        position: relative;
        bottom: -72%;
    }

    #stop
    {
        /*button in the center of the white rect*/
        display: flex;
        justify-content: center;

        margin-top: -35%;
    }

    #stop-button
    {
        border-width: 0px !important;
        padding: 0px !important;
        background-color: white !important;
    }

    #left
    {
        height: 100vh;
        position: absolute;
        left: 14%;
        width: 43%; /*from the total screen*/
        height: 100vh;
        background: #8FDFFA;
        /* z-index: 2 !important; */
    }

    #right
    {
        height: 100vh;
        position: absolute;
        left: 57%;
        width: 43%; /*from the total screen*/
        height: 100vh;
        /* z-index: 1 !important; */
    }

    .target 
    {
        /* margin-top: 10%; add back in when heading finished*/
        display: flex;
        justify-content: center;
    }
    img
    {
        margin-top: -3%;
        width: 400px;
        height: 400px;
    }

    #left-title
    {
        color: #10255C;
        font-family: "Kode Mono", serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        text-align: center;
        margin-top: 5%;
    }

    #right-title
    {
        color: white;
        font-family: "Kode Mono", serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        text-align: center;
        margin-top: 5%;
    }

    #aimed_spot
    {
        background-color: #10255C;
        color: white; /*text color of the button*/
        font-family: "Kode Mono", serif !important; 
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400 !important;

        display: block !important;
        margin: auto !important;
        border-radius: 15px !important;
        border-width: 0px !important;
        padding: 1% 1% !important;
    }

    #hit_spots
    {
        background-color:white !important;
        color: #10255C !important;
        font-family: "Kode Mono", serif !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        
        display: block !important;
        margin: auto !important;
        border-radius: 15px !important;
        border-width: 0px !important;
        padding: 1% 1% !important;
    }

    .arrow-num
    {
        color: white;
        font-family: "Montserrat", serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;

        text-align: center;
        margin: 2% 0%;
    }
    #last-arrow
    {
        border-width: 0px !important;
        padding: 0px !important;
        background-color: #10255C;
    }
    #next-arrow
    {
        border-width: 0px !important;
        padding: 0px !important;
        background-color: #10255C;
    }

    #target1
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* everything related to modals */
@layer
{
    .modal-title
    {
        color: #10255C;
        font-family: "Kode Mono", serif;
        font-size: 30px !important;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin-left: auto;
        margin-right: auto;

        /* margin-left: 1%; */
    }

    .left-button
    {
        position: absolute !important;
        left: 2% !important;
        background: #10255C !important;
        color: white !important;
        font-family: "Montserrat", serif !important;

    }

    .right-button
    {
        position: relative !important;
        right: 1% !important;
        background: #8FDFFA !important;
        color: #10255C !important;
        font-family: "Montserrat", serif !important;
    }

    .modal-body
    {
        color: #10255C;
        font-family: "Montserrat", serif !important;
        font-size: 20px !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@layer{
    /*need to fix the reference points for the dots*/
    #dot1 {
        position:absolute;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%; 
        display: inline-block; 
        top: 10000px;
        left: 10000px;
        
    }
    #dot2 {
        position:absolute;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%; 
        display: inline-block; 
        top: 10000px;
        left: 10000px;
        
    }
    #dot3 {
        position:absolute;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%; 
        display: inline-block; 
        top: 10000px;
        left: 10000px;
        
    }
    #dot4 {
        position:absolute;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 50%; 
        display: inline-block; 
        top: 10000px;
        left: 10000px;
        
    }
    #testDot {
        position:absolute;
        width: 10px;
        height: 10px;
        background-color: #2DFF03;
        border-radius: 50%; 
        display: inline-block; 
        top: 10000px;
        left: 10000px;
        
    }
}