body, html {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%; 
    width: 100%;
    overflow: hidden;
    background-color: #8FDFFA;
    padding: 0px;
    margin: 0px;
    font-family: Kode Mono, monospace;
}

@layer {
    /* #main-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
    } */
    
    #archery-banner
    {
        display: flex;
        background-color: whitesmoke;
        vertical-align: top;
        position: fixed;
        top: 0px !important;
        width: 100%;
        z-index:1;
        height: 10%;
        padding-left: 1.5%;
        align-items: center;
    }
    
    #archery-banner-words
    {
        font-family: "Kode Mono", monospace;
        color: #10255C;
    }

    .header-button
    {
        background: whitesmoke;
        border-width: 0px !important;
    }
    
    #left-side
    {
        height: 100vh;
        position: absolute;
        /* left: 1.5%; */
        padding-left: 7%;
        width: 50%; /*from the total screen*/
    }

    h2
    {
        color: #10255C;
        font-size: 800%;
        margin-top: 100px;
        margin-bottom: 30px;
        /* margin-left: 10%; */
        align-self: flex-start;
    }

    #left-side-content
    {
        margin-left: 5% !important;
        /* padding: 0% !important; */
    }

    #scores
    {
        color:whitesmoke;
        font-family: "Montserrat", serif;
        font-size: 200%;
    }
    
    #links
    {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 10%;
        /* margin-left: 80px;
        margin-bottom: 20px; */
    }
    
    #right-side
    {
        position: absolute;
        left: 50%;
        width: 50%; 
    }

    #right-title
    {
        color: whitesmoke;
        font-family: "Kode Mono", serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;

        text-align: center;
        margin-top: 17%;
    }

    #target
    {
        display: flex;
        justify-content: center;
        /* margin-left: auto;
        margin-right: auto; */
    }
    img
    {
        width: 400px;
        height: 400px;
    }

    a
    {
        color: #10255C;
        text-decoration: none;
        padding: 5px;
    }
    
}

@layer {
    #skewed-box {
        background-color: #10255C;
        position: absolute;
        top: -150px;
        width: 1000px;
        height: 2500px;
        left: 600px;
        padding: 100px;
        transform: skew(10deg, -65deg);
        z-index: 0;
    }
    
}
